/* Styles for the console class divs */
.console {
  border: none;
  padding: 5px;
  font-family: monospace;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: black;
  height: 400px;
}

/* stdout in OPF blue */
.stdout {
  color: white;
}

/* stderr in OPF Pink */
.stderr {
  color: #C82F7A;
}

/* Scrollbar stypes for the console */
.console::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.console::-webkit-scrollbar-track {
  border: 1px solid #147EA6;
  border-radius: 10px;
}
.console::-webkit-scrollbar-thumb {
  background: #147EA6;
  border-radius: 10px;
}
.console::-webkit-scrollbar-thumb:hover {
  background: #0B8764;
}
